<% provide(:title, "Sign in") %>
<h2  align="center">Вход</h2>
<div class="row">
  <div class="span6 offset2">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :"Email:" %>
      <%= f.text_field :email %>

      <%= f.label :"Пароль:" %>
      <%= f.password_field :password %>

      <%= f.submit "Войти", class: "btn btn-large btn-primary center" %>
    <% end %>

    <p>Новый пользователь? <%= link_to "Зарегиструйтесь!", signup_path %></p>
  </div>
</div>