<h2 align="center">Список батарей</h2>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Chem composition</th>
      <th>Color</th>
      <th>Voltage</th>
      <th>Capacity</th>
      <th>Description</th>
      <th>Element count</th>
      <th>Netto</th>
      <th>ModelsCount</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @batteries.each do |battery| %>
      <tr>
        <td><%= battery.code %></td>
        <td><%= battery.chem_composition %></td>
        <td><%= battery.color %></td>
        <td><%= battery.voltage %></td>
        <td><%= battery.capacity %></td>
        <td><%= battery.description %></td>
        <td><%= battery.element_count %></td>
        <td><%= battery.netto %></td>
        <td><%= battery.models.count %></td>
        <td><%= battery.price %></td>
        <td><%= link_to 'Show', battery %></td>
        <td><%= link_to 'Edit', edit_battery_path(battery) %></td>
        <td><%= link_to 'Destroy', battery, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая батарея', new_battery_path %>
<br><br><br><br>
