<p id="battery_name_info">
  Аккумуляторная батарея BS-<%= @battery.code %> для ноутбука Clevo
</p>
<div class="container">
		<div class="row">
            <div class="span3 offset1">
			<%= link_to image_tag("logo.jpg", alt: "batterystore.com"), root_path %>
			  <p id="battery_price_info"> Цена: <strong><%= @battery.price %>P</strong></p>
			  <div align=center>
			   <a href="#">
			     <button class="btn btn-success" >Купить</button>
			   </a>
			  </div>
			</div>
			<div class="span5">
			  <dl>
				<dt>Технические характеристики:</dt>
				<% if !@battery.capacity.blank? %>
				<dd>Емкость (mAh)..................<%= @battery.capacity %></dd>
				<% end %>
				<% if !@battery.voltage.blank? %>
				<dd>Напряжение (V)................<%= @battery.voltage %></dd>
				<% end %>
				<% if !@battery.color.blank? %>
				<dd>Цвет................................<%= @battery.color %></dd>
				<% end %>
				<% if !@battery.element_count.blank? %>
				<dd>Количество элементов.......<%= @battery.element_count %></dd>
				<% end %>
				<% if !@battery.chem_composition.blank? %>
				<dd>Тип элементов..................<%= @battery.chem_composition %></dd>
				<% end %>
				<% if !@battery.description.blank? %>
				<dt>Описание:</dt>
				<dd><%= @battery.description %></dd>
				<% end %>
			  </dl>
			</div>
		</div>
</div>		
<br>
<div class="container">
		<div class="row">
            <div class="span6 offset4">
				<p id="battery_name_info">
				Отзывы пользователей:
				</p>
			</div>
		</div>
		<div class="row">
            <div class="span8 offset3">
			  <% @battery.comments.each do |comment| %>
				<div class="well well-small">
				  <%= comment.text %>
				<br>
				<br>
				<%= comment.created_at.strftime("%d %b. %Y %H:%M") %> <strong> <%= comment.user.name %></strong>
					</div>
				<% end %>
				<div align=center>
				<%= form_tag("/send/"+@battery.code, method: "get", battery: @battery.code) do %>	
					<div class="input-append">
			<%= text_area_tag "text", nil, rows: 5, :placeholder => "Оставьте свой отзыв о товаре BS-Battery332:", :class=>"span8"%>
			<br>
			<%= submit_tag("Отправить", :class=>'btn') %>
			</div>
		</div> 
	<% end %>
			</div>
		</div>
</div>

